<ion-header>
  <ion-toolbar>
    <ion-title>{{ data.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card>
    <ion-img [src]="data.urlToImage"></ion-img>
    <ion-card-header>
      <ion-card-subtitle
        >Published: {{ data.publishedAt | date: 'medium' }} | Source:
        {{ data.source.name }}</ion-card-subtitle
      >
      <ion-card-title>{{ data.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-textarea rows="10">{{ data.content }}
        <a (click)='openBrowser()'>Read more</a></ion-textarea> 
    </ion-card-content>
  </ion-card>
</ion-content>
